#!/bin/bash

# # vscodeへgoの拡張機能をインストール(ホスト側でvscode拡張機能 Remote - SSH をインストール済みであることが前提)
# code --install-extension golang.go
# # vscode拡張機能のためのLangage server有効化用パッケージインストール
# go install -v golang.org/x/tools/gopls@latest
